header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 12vh;
  z-index: 10;
  background: #fff;
}

h1 {
  background: url("https://i.ibb.co/Q9yv5Jk/flappy-bird-set.png") 0% 340px;
  padding: 1.2rem 0;
  margin: 0;
}

button {
  background-color: transparent;
  font-family: 'Press Start 2P', cursive; 
  border: none;
  cursor: pointer;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 6px;
  background: #5EE270;
;
}

.modal-div {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

 @media (max-width: 700px) {
  .score-container {
    font-size: 11px

  }

} 
@media (min-height: 896px) {

  .score-container {
    min-height: 40px;
    font-size: .9em;
  }

  .score-container button {
    font-size: .8em;

  }

} 

@media (min-height: 1000px) {

  .score-container {
    font-size: 2em;
    padding: 1em;

  }

  .score-container button {
    font-size: .8em;

  }

} 